body{
    background-color: #0E1419;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}


html{
    scroll-behavior: smooth;
  }

.header{
    margin: auto;
    max-width: 1600px;
    padding: 40px 20px;
    display: flex;
    justify-content: center !important;
    justify-content: space-between !important;
    align-items: center;
}

span#burguer {
text-align: center;
display: none;
}

.container{
    justify-content: center !important;
}

ul.lista-header{
    padding-left: 0px;
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center !important;
}

.espaco{
    display: flex;
    margin-top: 10px;
}

.itemlista a {
    font-weight: 450;
    font-size: 1.125rem;
    line-height: 1.3;
    text-decoration: none ;
    color: white;
    padding: 10px 20px;
}

.itemlista a:hover{
 color: #E613C4;
 font-weight: bold;
}

.itemlista  button{
    background-color: #043233;
    border: 2px solid #13E6E6;
    border-radius: 3px;
    font-size: 1.190rem;
    line-height: 1.3;
    padding: 10px 20px ;
    text-decoration: none ;
    color: #C4C4C3;
    cursor: pointer;
    font-weight: 450;
}

.itemlista button:hover{
    padding: 12px 22px;
    color: #45D8D8;
    font-weight: bold;
   }



@media (max-width: 550px){
    .header{
        padding: 5px 5px;
    }

    span#burguer {
        text-align: center;
        display: flex;
        }

    nav#nav.menu{
        width: 100%;
        display: none;
    }

    ul.lista-header{
        display: grid;
        
    }

    .espaco{
        flex-direction: column;
        gap: 10px;
    }

   

}



@media (max-width: 750px){
    .header{
        flex-wrap: wrap;
        gap: 10px;
    }

}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  
  .modal-content {
    position: relative;
    background-color: #05223A;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
  }
  
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .acompanhar{
    font-size: 17px;
    font-weight: 600;
  }

  .titulo-fale{
    margin-left: -20px;
  }

  .caixamensagem{
    margin: auto;
    display: flex;
    padding: 20px 40px;
   justify-content: space-around;
   flex-wrap: wrap;
  }

  .formulario{
    justify-content: right;
  }

  .titulo-formulario{
    margin: 5px 0px;
  }
  
.slogan{
    font-size: 14px;
    color: #A8A8A8;
}

  .caixamandar{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
  }

  .caixamandar1{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
  }
  
 .btn{
    background-color: #043233;
    border: 2px solid #13E6E6;
    border-radius: 5px;
    font-size: 19px;
    line-height: 1.3;
    padding: 5px 20px ;
    text-decoration: none ;
    color: #C4C4C3;
    cursor: pointer;
    font-weight: 450;
    margin-top: 20px;
 }

 @media (max-width: 500px){
    .caixamandar{
        width: 100%;
      }

      .caixamandar1{
        width: 100%;
      }
 }


 @media (max-width: 600px){
    .logosamara{
        display: none;
    }
 }


.apresentacao{
    background-image: url("imgs/shahadat-rahman-gnyA8vd3Otc-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.apresentacao-bloco{
    margin: auto;
    max-width: 1600px;
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 200px;
    align-items: center;
}

.imgsam{
    max-width: 100%; 
    height: auto; 
}


.prazer-samara{
font-size: 25px;
font-family: 'Fira Code', monospace;
}

.prazer{
    color:#969898 ;
}

.samara{
    color: #13E6E6;
}

.detalhe{
    font-family: 'Fira Code', monospace;
    color: #E613C4;
}

.titulo{
    font-family: 'Fira Code', monospace;
    font-size: 55px;
}

.localizacao{
display: flex;
gap: 10px;
}

.salvador{
    color: #45D8D8;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

@media (max-width: 1300px){
    .apresentacao-bloco{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 30px 50px;
        gap: 50px;
    }

}

@media (max-width: 600px){
    .apresentacao{
        margin-top: 20px;
    }

    .apresentacao-bloco{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px 5px;
        gap: 20px;
    }

    .titulo{
        font-size: 35px;
    }

}

@media (max-width: 500px){
    .apresentacao-bloco{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px 0px;
        gap: 20px;
    }

    
}


.tecnologias{
    max-width: 1600px;
    margin: auto;
    padding: 40px 20px;  
}

.linha{
    width: 100px;
    height: 6px;
    background-color: #297274;
    color: #297274;
}

.nome{
font-size: 45px
}

.nomes-secao{
    color: #13E6E6;
}

.containert{
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    margin: 0 auto;
    padding: 0px 0px;
}


.experiencia-profissional{
    max-width: 1600px;
    margin: auto;
    padding: 40px 20px;  
}

.experiencias{
    background-color: #002031;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px 40px;
    gap: 200px;
}


.experiencia-descricao{
color: #A8A8A8;
background-color: #05223A;
border: 0.5px solid #9EA0A1;
border-radius: 5px;
}

.titulo-trabalho{
    font-size: 25px;
    color: #E613C4;
}

.detalhe-exp{
    font-weight: lighter;
    color: #CF87C3;
}

.atuacao{
    color: #D7D7D7;
    padding-left: 5px;
}

.texto-descricao{
    padding: 10px 20px ;
    font-size: 13px;
}

.formacao{
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;  
    
}


.formacoes{
    padding: 20px 150px;
}


.formacao-unica{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
    
}

.titulo-formacao{
    position: relative;
    font-size: 20px;
    color: #E613C4;
    background-color: #002031;
    padding: 20px 60px;
    border-radius: 5px;
    text-align: center;
}

.descricao-formacao{
    color: #A8A8A8;
    background-color: #05223A;
    padding: 10px 20px;
    border: 1px solid #9EA0A1;
    border-radius: 5px;
}


.linha-vertical{
    background-color: #CF87C3;
    height: 95%;
    width: 10px;
    border-radius: 5px;
    position: absolute;
    margin: 5px -30px ;
    right: 0;
    top: 0; 
}

.curso{
    max-width: 1600px;
    margin: auto;
    padding: 40px 20px; 
}

.apenas-linha{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.linhagrande-horizontal{
    position: absolute;
    display: flex;
    background-color: #297274;
    width: 80%;
    height: 6px;
    bottom: 0;
}

.contate{
    background-color: #05223A;
}

.contate-nos{
    max-width: 1600px;
    margin: auto;
    padding: 40px 20px; 
}

.contate-info{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}

.contatar{
    font-family: 'Fira Code', monospace;
    flex-wrap: wrap;
    font-size: 55px;
}

.contateme{
 color: #13E6E6;
}

.contatos ul {
    list-style: none;
    align-items: center;
    gap: 30px;
}

.redes{
    align-items: center;
}


.text{
 padding-left: 10px;
 padding-bottom: 20px;
 text-align: center !important;
 align-items: center;
}


.ultimo{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.direito{
    font-weight: 300;
    font-size: 13px;
    color: #A8A8A8;
}

@media (max-width: 500px){

    .nome{
        font-size: 27px;
    }
    
}

@media (max-width: 750px){
    

    .experiencias{
        padding: 0px 0px;
        flex-wrap: wrap;
     gap: 50px;
    } 
}


@media (max-width: 1000px){
    .experiencias{
     gap: 50px;
    } 

    .formacao-unica{
        background-color: #142A3C;
        border-radius: 5px;
        justify-content: center;
    }

    .titulo-formacao{
        width: 100%;
    }
}


@media (max-width: 1050px){
    .linha-vertical{
        height: 0;
        width: 0;
        margin: 0px 0px ;
    }
    
    .formacoes{
        padding: 10px 20px;
        
    }


    .formacao-unica{
        gap: 20px;
        justify-content: center;
    }

    .contate-nos{
        position: relative;
        display: flex;
    }

    .ultimo{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        right: 0;
    }

    .direito{
        display: none;
    }
    
}

@media (max-width: 1350px){
    
    .formacoes{
        padding: 20px 75px;
    }


    .formacao-unica{
        gap: 75px;
    }

    .contatar{
        font-size: 40px;
    }
    
}

